.modal{
    background-color: rgba(0, 0, 0, 0.607);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content{
    background-color: white;
    padding: 2rem;
    width: 50rem;
    height: 50rem;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}
.main{
    background-color: #EDF3FF;
    width: 25rem;
    height: 40rem;
    border-radius: 20px;
}
.btn{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.btn button{
    width: 7rem;
    background-color: transparent;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.card label{
    font-size: 20px;
}
.number{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 60px;
    padding: 20px;
}
.number input{
    border: none;
    color:rgb(164, 160, 160);
    font-size: 20px;
    outline: none;
    width: 15rem;
}
.number ::placeholder{
    color:rgb(164, 160, 160);
}
.expiry{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.expiry input{
    height: 60px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid gainsboro;
    border-radius: 9px;
}
.flexout{
    display: flex;
    justify-content:center;
    padding: 10px;
    gap: 5px;
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.end button{
    height: 50px;
    width: 15rem;
    color: white;
    cursor: pointer;
    font-size: 17px;
    background-color: blue;
    border: none;
    border-radius: 10px;
}
.saved{
    background-color: white;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
}


























/* .modal{
    background-color: rgba(0, 0, 0, 0.607);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content{
    background-color: white;
    padding: 2rem;
    width: 50rem;
    height: 50rem;
    border-radius: 30px;
} */