.background{
    display: flex;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.main{
    width: 100vw;
}
.profile{
    display: flex;
    gap: 20px;
}
.reminder img{
    position: relative;
    margin-left: -8px;
}
.name span{
    color: gray;
    font-size: 15px
}
.line{
    width: 2px;
    height: 50px;
    background-color: gainsboro;
}
.search input{
    border: none;  
     width: 30rem;
     outline: none;
     font-size: 15px;
}
.search{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 20px;
    height: 50px;
}
.search1 input{
    border: none;  
     outline: none;
     font-size: 15px;
     width: 27rem;
}
.search1{
    border: 1px solid blue;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    height: 35px;
    align-items: center;
    width: 30rem;
}
.agent{
    background-color: #E8EEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #1B59F8;
    border-radius: 15px;
    cursor: pointer;
}
.agent p{
    font-size: 13px;
}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid gainsboro;
}
.bg{
    height: 87vh;
    background-color: ghostwhite;
    padding: 30px;
}
.bg1{
    background-color: white;
    border-radius: 20px;
    height: 80vh;
}
.gridout{
    display: flex;
}
.flag{
    display: flex;
    flex-direction: column;
}
.gridout{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.status{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 200;
}
.status main{
    color: gray;
    font-size: 13px;
}
.statu main{
    color: gray;
    font-size: 13px;
}
.statu{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.footer span{
    color: #969494;
    font-size: 13px;
}
.btn{
    display: flex;
    gap: 15px;
}
.btn button{
    height: 30px;
    padding: 5px;
    display: flex;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    color: #969494;
}
.btn1{
    display: flex;
    gap: 10px;
}
.btn1 button{
 border: 1px solid gainsboro; 
 background-color: transparent;
 width: 30px;
 cursor: pointer;
 display: flex;
 border-radius: 5px;
 justify-content: center;
} 