.background{
    display: flex;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
.profile{
    display: flex;
    gap: 20px;
    padding-right: 2rem;
    align-items: center;
}
.reminder img{
    margin-left: -8px;
}
.name span{
    color: gray;
    font-size: 12px
}
.line{
    width: 2px;
    height: 50px;
    background-color: gainsboro;
}
.search input{
    border: none;  
     width: 25rem;
     outline: none;
     font-size: 15px;
     background-color: #F8FAFF;
     color: #999999;
}
.search{
    border: 1px solid #00A4E4;
    background-color: #F8FAFF;
    border-radius: 20px;
    height: 40px;   
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search ::placeholder{
    color: lightgray;
}
.gray{
    background-color:#EFF0F6;
    height: 100vh;
    padding: 20px;
}
.white{
    background-color: white;
    height: 100vh;
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
.filter button{
    width: 7rem;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    color: #1B59F8;
    border-radius: 4px;
    justify-content: center;
    border: 1px solid #00A4E4;
}
.header p{
    font-size: 17px
}

.table{
    border-collapse: collapse;
    font-size: 11.5px;
    width: 100%;
}
.table th{
    font-weight: 500;
    text-align: left;
    color: gray;
    font-size: 10px;
    padding: 10px;
}
.table tr{
    width: 100%;
}
.table td{
    padding: 10px;
}
.entries{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.entries p{
    color: gray;
}
.btn{
    display: flex;
    gap: 15px;
}
.btn button{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
}
.zone{
    display: flex;
    gap: 40px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 17px;
    align-items: center;
}
.main button{
  background-color: #1B59F8;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  border-radius: 5px;
  width: 12rem;
  height: 40px;
}
.state p{
    font-size: 11px;
}
.state input{
    color: #333333;
    padding: 8px;
    border-radius: 5px;
    font-size: 13px;
    border: 1px solid #b5b4b4;
}
.state{
    display: flex;
    flex-direction: column;
    gap: 7px;
}