
.container{
    padding: 10px;
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    gap: 40px;
    width: 15rem;
    /* position: fixed; */
}
.head{
    display: flex;
    gap: 20px;
    color: gray;
}
.head p{
    font-size: 14px;
}
.exit1{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-top: 2px solid gainsboro;
    margin-top: 10rem;
}
.exit1 h4{
    color: gray;
    font-weight: 500;
    font-size: 12px;
}
.exit{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid gainsboro;
}
.exit span{
    color: gray;
    font-size: 12px;
}
.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile h4{
    color: black;
}
.top{
    gap: 20px;
    background-color: #E3F6FF;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color:#1B59F8;
    width: 13rem;
    border-left: 5px solid #1B59F8;
    padding: 10px;
}
@media screen and (max-width:1427px) {
    .container{
        display: none;
    }
}
